/* Commission Art */

/* 

To Do
> Figure out how to center the cards (c"ತ,_ತ) 
> Background color for portrait div
> Add buttons under text-boxes
> Background effect ending with a quote at the end of page
> Item effect on meet the artist board
> You can do it!

*/

:root {
    --main-color: #000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Nav */
.header.home {
    box-shadow: 10px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    margin: 12px;
    list-style: none;
}

.nav-links a {
    color: var(--main-color);
    text-decoration: none;
    padding: 8px 12px;
}


.nav-links ul li a:hover {
    color: #fff;
    background-color: #000;
    margin: auto;
    border-radius: 10px;
    transition: 0.5s;
}

/* Main Content Home */
/* About Artist */
.about-artist {
    margin-top: 72px;
    margin-left: 72px;
}

.about-artist img {
    width: 65vh;
    border-radius: 10px;
    box-shadow: 10px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

/* Grid */
.container {
    display: grid;
    justify-content: center;
    grid-template: repeat(3, 500px) / repeat(2, 550px);
    overflow: hidden;
}

/* @media(max-width: 1000px) {
    
} */

.home-box,
.home-img,
.home-quote,
.home-btn,
.card-group,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cards */

.card {
    height: 350px;
    aspect-ratio: 5 / 7;
    border-radius: 10px;
    position: absolute;
    background-position: center;
    background-size: 100%;
}

.card:nth-child(1) {
    background-image: url(img/Mau.png);
    transform: translateX(-10%) rotate(-1deg);
}

.card:nth-child(2) {
    background-image: url(img/Aurelia.png);
    transform: translateX(2deg);
}

.card:nth-child(3) {
    background-image: url(img/Yura.png);
    transform: translateX(-6%) rotate(-3deg);
}

.card:nth-child(4) {
    background-image: url(img/Madeline.png);
    transform: translateX(10%, 3%) rotate(5deg);
}

.card-group:hover>.card {
    transition: .5s;
}

.card-group:hover>.card:nth-child(1) {
    transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover>.card:nth-child(2) {
    transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover>.card:nth-child(3) {
    transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover>.card:nth-child(4) {
    transform: translate(75%, 16%) rotate(24deg);
}

/* Card Button */
.card-btn {
    margin-top: 80%;
}

.card-btn>button {
    font-size: 2.5vmin;
    border: 0.4vmin solid rgb(255, 94, 94);
    border-radius: 100%;
    color: rgb(255, 94, 94);
    background-color: transparent;
    height: 7vmin;
    width: 7vmin;
    cursor: pointer;
}

/* Home Boxes */

.home-text-box.portrait,
.home-text-box.group,
.home-text-box.sketches {
    padding: 24px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.home-img img {
    border-radius: 10px;
    width: 100%;
}

/* Character Portrait */
.home-btn {
    margin-top: 40px;
}

.home-btn>button {
    font-size: 1em;
    font-family: inherit;
    padding: 10px 42px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

/* Group Mashup */

/* Sketches */

/* Quote */
.home-quote {
    margin: 30px;
}

/* Footer */
footer {
    margin: 20px;
}